<?xml version="1.0"?>
<configuration>
	<configSections>

		<!-- NOTE the section name is case sensistive and must be IntegrationService -->
		<section name="BlackjackService" type="System.Configuration.NameValueFileSectionHandler, 
                    System, Version=2.0.50727.3053, Culture=neutral, 
                    PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<!-- WCF Diagnostic Tracing Code. Useful for figuring out configuration/connection problems.
         Uncomment to enable. It is not recommended to run with tracing enabled in a high load/
         production environment.
    -->
	<!--<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
              propagateActivity="true">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelTraceListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="server.svclog"
              type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
              name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
			<add initializeData="server.svclog"
              type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
              name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics> -->
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="BlackjackService_TCPBinding" 
					closeTimeout="00:10:00"
					openTimeout="00:10:00"
					receiveTimeout="10:00:00"
					sendTimeout="00:10:00"
					maxReceivedMessageSize="2359296">
					<readerQuotas maxDepth="32"
								  maxStringContentLength="2359296"
								  maxArrayLength="16384"
								  maxBytesPerRead="4096"
								  maxNameTableCharCount="16384" />
					<!--<security mode="None"/> -->
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<!-- Service configuration for BlackjackGameProcessor -->
			<service name="Games.Common.WCF.BlackjackGameProcessor">
				<endpoint
					name=""
					address ="net.tcp://localhost:8002/BlackjackGameProcessor"
					binding="netTcpBinding"
					contract="Games.Common.WCF.IGameProcessor"
					bindingConfiguration="BlackjackService_TCPBinding" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, 
                         set the value below to false and remove the metadata endpoint above before deployment -->
					<!-- <serviceMetadata httpGetEnabled="True"/>  -->
					<!-- To receive exception details in faults for debugging purposes, 
                         set the value below to true.  Set to false before deployment 
                         to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<BlackjackService>
		<!-- controls logging level. valid values are spam, debug, normal, and error-->
		<add key ="logLevel" value="spam" />
	</BlackjackService>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
